{% extends "header.html" %}

{% block content %}      

<h1>hello world</h1>

<form action="{% url 'homepage' %}" method="POST">
    {% csrf_token %} 
    <input type="text" name="name">
    <input type="submit" name="submit" value="Search">
</form>

{% for item in products %}
    <h1>ID</h1>
    <h1>{{ item.id }}</h1>
    <h1>{{ item.name }}</h1>
    <h1>{{ item.quantity }}</h1>
{% endfor %}
{% for item in items %}
    <h1>{{ item.product_id }}</h1>
    <h1>{{ item.quantity }}</h1>
{% endfor %}

{% endblock %}
